*{
  letter-spacing: 0!important;
}

body{
   background-color: black;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    margin: 0px;
}
.netflix-section-one{
    height: 450px;
    width: 1fr;
    background-image: url(/background\ image.jpg);
    border-bottom: 9px solid rgb(107, 102, 102);
    /* font-size: 30px; */
    background-color: black;
}

 
.netflix-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    margin: 0px 56px;

}

 

 .sign{
    background-color: red;
    text-decoration: none;
    color: white;
    border-color: red;
}

.main-container{
    text-align: center;
    position: relative;
    top: 0%;
    border-bottom: 12px
    rgb(75, 72, 72);
    color: white;
  box-shadow: inset;
  }

    .hero-1{
      font-size: 3rem;
    }

    .hero-2{
      font-size: 2.125rem;

    }

    .hero-4{
      font-size: 2.125rem;
    } 

    .hero-5{
      font-size: 2.125rem;
    }

    .hero-6{
      font-size: 2.125rem;
    }

    .hero-7{
      font-size: 2.125rem;
    }
input{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;}

    .hero-3{
      font: 19.2px;
    }

    #netflix{
      color: red;
      outline-color: red;
      width: 30%;
      height: 45%;
    }

    .btn{
        background-color: red;
        color: white;
        border-color: red;
        text-align: center;
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid red;
        margin: 8px 0;
        padding: 12px 20px;}

  .netflix-section-two{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: static;
    padding-left: 200px;
    border-bottom: 5px solid rgb(107, 102, 102);
  }

  .tv-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: inherit;
  }
 
  /* .video-container{
    position: relative;
    top: 10px;
    z-index: 2;
  }  */

  .netflix-section-three{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid rgb(107, 102, 102);
  }

  .netflix-section-four{
    color: white;
    text-align: left;
    border-bottom: 5px solid rgb(107, 102, 102);
    box-sizing: border-box;
  }

  .netflix-section-five{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid rgb(107, 102, 102);
  }

  .netflix-section-six{
    color: white;
    border-bottom: 5px solid rgb(107, 102, 102);
    text-align: center;
  }

  .boxes{
    text-align: center;
  }

  .faq{
    font-size: 1.725rem;
    color: white;
    text-align: center;

  }
  .faq-list{
    list-style-type: none;
    margin-bottom:0px;
    margin-left: 1.1em;
    text-align: center;
    
  }

  .faq-question{
    background: #303030;
    border: 0;
    font-weight: 400;
    margin-bottom: 1px;
    padding: 1.8em 2.2em 0.8em 1.2em;
    width: 50%;
    display: block;
    position: relative;
    color: white;
    font-size: 1.125rem;
    text-align: center;
     
  }

  .faq-item{
     display: block;
    text-align: left;
    font: 100px;
  }

  .faq-list{
    text-align: center;
  }

  .f-a-q{
    text-align: center;
  }

  .site-footer{
    color: white;
  }

  .footer-links{
    list-style-type: none;
    color: #737373;
    margin-left: 0;
    margin-bottom: 5px;
    margin-left: 1.1em;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    row-gap: 30px;
    box-sizing: border-box;
    font-size: 13px;
    max-width: 1000px;
    
  }

 